<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LDNetDiagnoServiceDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libLD111.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libLDNetDiagnoService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libLDNetDiagnoService1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2942AC891CEC3C650028B3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2942AC921CEC3C650028B3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629AF6E01A0125E5001CBB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629AF6F91A0125E5001CBB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0535F4A1CF2EF6200A1E7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0535F531CF2EF6200A1E7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0535F6C1CF2EFAD00A1E7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0535F751CF2EFAD00A1E7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
